.vscode/**/*
.npm/**/*
.github/**/*
.sonarlint/**/*
.gitignore
.eslintignore
src/**/*
out/**/*
eslint.config.js
node_modules
run_env
test
tsconfig.json
tslint.json
docs
docker
Jenkinsfile
azure-pipelines.yml
sonar-project.properties
resources/jre-windows.zip
resources/jre-linux.tar.gz
