.vscode/**/*
.npm/**/*
.gitignore
.eslintignore
src/**/*
out/**/*
node_modules
run_env
test
tsconfig.json
tslint.json
docs
docker
Jenkinsfile
azure-pipelines.yml
resources/jre-windows.zip
resources/jre-unix.tar.gz
